@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 95vh;
}

p {
    font-size: 30px;
    color: black;
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.top{
    background-color: white;
    margin-top: -20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 50px;
    padding-right: 50px;
}

img {
    width: auto;
    height: 77vh;
}